@font-face {
  font-family: "RobotoLight";
  src: local("Roboto Light"), local("Roboto-Light"),
    url("./fonts/Roboto/Roboto-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "RobotoRegular";
  src: local("Roboto Regular"), local("Roboto-Regular"),
    url("./fonts/Roboto/Roboto-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "RobotoMedium";
  src: local("Roboto Medium"), local("Roboto-Medium"),
    url("./fonts/Roboto/Roboto-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "RobotoBold";
  src: local("Roboto Bold"), local("Roboto-Bold"),
    url("./fonts/Roboto/Roboto-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "RobotoBlack";
  src: local("Roboto Black"), local("Roboto-Black"),
    url("./fonts/Roboto/Roboto-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "SourceSansProLight";
  src: local("Source Sans Pro Light"), local("Source-Sans-Pro-Light"),
    url("./fonts/SourceSansPro/SourceSansPro-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "SourceSansProRegular";
  src: local("Source Sans Pro Regular"), local("Source-Sans-Pro-Regular"),
    url("./fonts/SourceSansPro/SourceSansPro-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "SourceSansProMedium";
  src: local("Source Sans Pro Medium"), local("Source-Sans-Pro-Medium"),
    url("./fonts/SourceSansPro/SourceSansPro-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "SourceSansProBold";
  src: local("Source Sans Pro Bold"), local("Source-Sans-Pro-Bold"),
    url("./fonts/SourceSansPro/SourceSansPro-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "SourceSansProBlack";
  src: local("Source Sans Pro Black"), local("Source-Sans-Pro-Black"),
    url("./fonts/SourceSansPro/SourceSansPro-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
