/*! @import */
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#app {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-title-regular text-paragraphy-1;
}

h1 {
  font-size: 32px;
}

h2 {
  font-size: 28px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 20px;
}

h5 {
  font-size: 18px;
}

.body-1,
.body-2,
.body-3,
.body-4 {
  @apply font-regular text-paragraphy-2;
}

.body-1 {
  font-size: 18px !important;
}

.body-2 {
  font-size: 16px !important;
}

.body-3 {
  font-size: 14px !important;
}

.body-4 {
  font-size: 12px !important;
}

@media (max-width: 1280px) {
  h1 {
    font-size: 28px;
  }

  h2 {
    font-size: 24px;
  }

  h3 {
    font-size: 20px;
  }

  h4 {
    font-size: 18px;
  }

  h5 {
    font-size: 16px;
  }

  .body-1 {
    font-size: 16px !important;
  }

  .body-2 {
    font-size: 14px !important;
  }

  .body-3 {
    font-size: 12px !important;
  }

  .body-4 {
    font-size: 10px !important;
  }
}
